*.pyc
*.idx
__pycache__
*~
temp/
run_dir/Si/models/GAP/*
run_dir/Si/run_dir/*
!run_dir/Si/default_analysis_settings.json
!run_dir/Si/Si-model-pACE_B8_N4_18_07-*
!run_dir/Si/Si-model-CASTEP_ASE-*
.DS_Store
