system = VASP model for Si

# KPAR = 8
NCORE = 16
LSCALAPACK = .FALSE.
LPLANE = .FALSE.

ISMEAR = 0 
SIGMA  = 0.05
PREC   = Accurate
ADDGRID = .TRUE.

EDIFF  =  1E-7   

NELM = 150

LWAVE = .FALSE.
LCHARG = .FALSE.

ALGO = normal
AMIX = 0.1

LREAL = .FALSE.
ISYM = 0

ENCUT = 400.0
KSPACING = 0.250

GGA = PS
