system = VASP model for GeSbTe no socket

KPAR = 8
NCORE = 16
LSCALAPACK = .FALSE.
LPLANE = .FALSE.

ISMEAR = 0 
SIGMA  = 0.1
PREC   = Accurate
ADDGRID = .TRUE.

EDIFF  =  1E-8   

NELM = 1000

LWAVE = .FALSE.
LCHARG = .FALSE.

ALGO = VeryFast

LREAL = .FALSE.
ISYM = 0

ENCUT = 250.0
KSPACING = 0.15
GGA = PS
